<h2 class="text-center mt-4", align="center">Sign up for the application</h2>
<%= render "form"%>
<h2 align="center">If you're a registered user!</h2>
<h2 align="center" ><%= link_to "login", login_path%></h2>